.white {
  color: white;
}

.container {
  margin: 1rem auto;
  width: 90%;
  height: 3882px;
  display: flex;
  flex-direction: column;
  background-color: goldenrod;
}

.navigation {
  height: 50px;
  background: #4e4e4e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation:first-of-type {
  padding-left: 1rem;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.landing-page {
  color: white;
  height: 574px;
  background-image: url(img/bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.specialists-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  padding: 1rem;
}

.specialist-photo {
  clip-path: circle(50%);
  width: 221px;
  height: 221px;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.button {
  width: 164px;
  height: 41px;
  border: 3px solid white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.text-small {
  font: 18px Roboto;
}

.text-bold-small {
  font: 18px Roboto;
  font-weight: bold;
}

.text-bold-big {
  font: 36px Roboto;
  font-weight: bold;
}

.paragraph {
  margin: 1.5rem 0;
  align-self: flex-start;
}

.text-justified {
  text-align: justify;
}

@media (min-width: 960px) {
  .container {
    background-color: red;
    width: 960px;
  }
}
