.white {
  color: white;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.padding {
  padding: 3rem 1rem;
}

.container {
  margin: 1rem auto;
  width: 90%;
  background-color: goldenrod;
}

.navigation {
  height: 50px;
  background: #4e4e4e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation:first-of-type {
  padding-left: 1rem;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.landing-page {
  color: white;
  height: 100vh;
  background-image: url(img/bg.jpg);
  background-size: cover;
  align-items: flex-start;
}

.button {
  width: 164px;
  height: 41px;
  border: 3px solid white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.specialists-box {
  align-items: center;
  background-color: white;
  color: black;
}

.specialist-name {
  margin: 1.5rem 0;
  align-self: flex-start;
}

.specialist-photo {
  clip-path: circle(50%);
  width: 221px;
  height: 221px;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.offer {
  background-color: #405d78;
  color: white;
  text-align: center;
  align-items: center;
}

.offer-title {
  margin: 2rem 0;
}

.service {
  width: 339px;
  height: 332px;
  background-color: #f1f1f1;
  color: black;
  margin: 1rem 0;
}

.text-small {
  font: 18px Roboto;
}

.text-normal {
  font: 26px Roboto;
}

.text-bold-small {
  font: 18px Roboto;
  font-weight: bold;
}

.text-bold-big {
  font: 36px Roboto;
  font-weight: bold;
}

.paragraph {
  margin: 1.5rem 0;
  align-self: flex-start;
}

.text-justified {
  text-align: justify;
}

@media (min-width: 960px) {
  .container {
    background-color: red;
    width: 960px;
  }
}
