html {
  scroll-behavior: smooth !important;
}

.container {
  margin: 0 auto;
  width: 90%;
  background-color: goldenrod;
}

.navigation {
  height: 50px;
  background: #4e4e4e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation:first-of-type {
  padding-left: 14px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.shadow {
  background: rgba(0, 0, 0, 0.15);
  width: inherit;
  height: inherit;
  position: absolute;
}

.landing-page {
  color: white;
  height: calc(100vh - 50px);
  background-image: url(img/bg.jpg);
  background-size: cover;
  align-items: flex-start;
  position: relative;
}

.button {
  width: 164px;
  height: 41px;
  border: 3px solid white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.specialists-box {
  align-items: center;
  background-color: white;
}

.specialist-name {
  margin-bottom: 1em;
  align-self: flex-start;
}

.specialist-photo {
  clip-path: circle(50%);
  width: 221px;
  height: 221px;
  margin-top: 54px;
  margin-bottom: 42px;
}

.offer-box {
  background-color: #405d78;
  color: white;
  text-align: center;
}

.ellipse {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #e07a64;
  position: absolute;
  top: -17px;
  left: -15px;
}

.offer-title {
  margin: 42px 0;
}

.services-box {
  width: 100%;
}

.service {
  width: 339px;
  height: 332px;
  background-color: #f1f1f1;
  color: black;
  margin: 17px 0;
  place-self: center;
  position: relative;
}

.footer-box {
  background-color: #4e4e4e;
  align-items: center;
  color: white;
  padding: 38px 0;
  height: 147px;
}

.footer-icon {
  color: white;
  margin: 0 10px;
}

.text-small {
  font: 18px Roboto;
}

.text-normal {
  font: 26px Roboto;
}

.text-bold-small {
  font: 18px Roboto;
  font-weight: bold;
}

.text-bold-big {
  font: 36px Roboto;
  font-weight: bold;
}

.paragraph {
  margin: 44px 0;
}

.text-justified {
  text-align: justify;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.padding {
  padding: 34px 14px;
}

@media (min-width: 960px) {
  .container {
    background-color: red;
    width: 960px;
  }
}
